python 3.11.6
pytorch 
    https://pytorch.org/get-started/locally/
    pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
openai-whisper
    pip install -U openai-whisper
    https://pypi.org/project/openai-whisper/
Chocolatey
    https://chocolatey.org/
        choco install ffmpeg
        sudo apt update && sudo apt install ffmpeg

Whisper mit Timestamps
https://github.com/linto-ai/whisper-timestamped?tab=readme-ov-file#installation
    pip3 install whisper-timestamped
pydub
    pip install pydub
pyAudioAnalysis
    pip install pyAudioAnalysis
scipy
    pip install scipy
sklearn
    pip install scikit-learn
hmmlearn
    pip install hmmlearn
matplotlib
    pip install matplotlib
eyed3
    pip install eyed3
imblearn
    pip install imbalanced-learn
plotly
    pip install imbalanced-learn
pyAudioDiarization
    pip install pyAudioDiarization


Video für Hilfsbedürftige
    https://youtu.be/ABFqbY_rmEk?si=MrFezADsTYY3vzG2

    Podcast download
    https://github.com/lightpohl/podcast-dl
    https://podcastindex.org/podcast/1383759

docker build -t taas_1 .