python 3.11.6
pytorch 
    https://pytorch.org/get-started/locally/
    pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
openai-whisper
    pip install -U openai-whisper
    https://pypi.org/project/openai-whisper/
Chocolatey
    https://chocolatey.org/
        choco install ffmpeg

pydub
    pip install pydub
pyAudioAnalysis
    pip install pyAudioAnalysis
scipy
    pip install scipy
sklearn
    pip install scikit-learn
hmmlearn
    pip install hmmlearn
matplotlib
    pip install matplotlib
eyed3
    pip install eyed3
imblearn
    pip install imbalanced-learn
plotly
    pip install plotly
pyAudioDiarization
    pip install pyAudioDiarization


Video für Hilfsbedürftige
    https://youtu.be/ABFqbY_rmEk?si=MrFezADsTYY3vzG2